body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search-users {
  padding: 20px;
  text-align: center;
}

.search-users input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  margin-right: 10px;
}

.search-users button {
  padding: 10px 20px;
  font-size: 16px;
}

.user-list {
  margin-top: 20px;
}

.user-list ul {
  list-style-type: none;
  padding: 0;
}

.user-list li {
  margin-bottom: 10px;
}